name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: mk-build-dir
      run: mkdir -p build/deps/nob
    - name: get-nob
      run: curl -Lo build/deps/nob/nob.h https://raw.githubusercontent.com/tsoding/nob.h/refs/heads/main/nob.h
    - name: build-project-exec
      run: gcc -o project-build project-build.c 
    - name: build
      run: ./project-build
